doctype 5
html
    head
        title= title
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:700,400,800,600,300", rel="stylesheet", type="text/css")
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHQySXASgiH1oaD5WcleklbcQ9az6ERcw&sensor=true")
        script(type="text/javascript", src="/js/markercluster.min.js")
            
    body
        block content

    form.hidden
        input(type="hidden", name="selected-city", value=selected_city)
        input(type="hidden", name="center-latitude", value=map_center_latitude)
        input(type="hidden", name="center-longitude", value=map_center_longitude)

    script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(type="text/javascript", src="/js/sisyphus.min.js")
    script(type="text/javascript", src="/js/fmu.js")